.home{
    content:'';
    position:absolute;
    width:100vw;
    height:100vh;
    background-size: 100%;
    left:0;
    top:0;
    background: rgb(28,172,116);
    background: linear-gradient(90deg, rgba(28,172,116,1) 0%, rgba(170,250,200,1) 35%, rgba(237,175,184,1) 100%);
}

.hero{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-left: 8%;
    margin-right: 8%;
    box-shadow: 5px 5px 15px 5px #000000;
    background-image: url('../pics/fitnessHero2.png');
    height: 90vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

